{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
  <div class="alert alert-info text-center" role="alert">
       <h4> Select your preferred times by checking the boxes below.</h4>
      We'll let you know when the organizer picks the best time.
  </div>
  <hr>
    <table class="styled-table">
        <thead>
            <tr>
                <th></th>
                <th>Monday <br> Oct 19 <br><br> 9 am -<br> 12 pm</th>
                <th>Tuesday <br> Oct 20 <br><br> 9 am -<br> 12 pm</th>
                <th>Wednesday <br> Oct 21 <br><br> 9 am -<br> 12 pm</th>
                <th>Thursday <br> Oct 22 <br><br> 9 am -<br> 12 pm</th>
                <th>Friday <br> Oct 23 <br><br> 9 am -<br> 12 pm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Patrick Song <br> (Organizer) </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
            </tr>
            <tr>
                <td>Alice </td>
                <td><span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign"></span> </td>
                <td><span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
            </tr>
            <tr  class="active-row">
                <td>You</td>
                <td><input type="radio" name="choice1" value="yes" /> <span class="glyphicon glyphicon-ok-sign"></span> <br> <input type="radio" name="choice1" value="Maybe" /> <span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
                <td><input type="radio" name="choice2" value="yes" /> <span class="glyphicon glyphicon-ok-sign"></span> <br> <input type="radio" name="choice2" value="Maybe" /> <span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
                <td><input type="radio" name="choice3" value="yes" /> <span class="glyphicon glyphicon-ok-sign"></span> <br> <input type="radio" name="choice3" value="Maybe" /> <span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
                <td><input type="radio" name="choice4" value="yes" /> <span class="glyphicon glyphicon-ok-sign"></span> <br> <input type="radio" name="choice4" value="Maybe" /> <span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
                <td><input type="radio" name="choice5" value="yes" /> <span class="glyphicon glyphicon-ok-sign"></span> <br> <input type="radio" name="choice5" value="Maybe" /> <span class="glyphicon glyphicon-ok-sign maybe"></span> </td>
            </tr>
        </tbody>
    </table>
    <h4 class="center">
      <span class="glyphicon glyphicon-ok-sign"></span> Yes, I can make this time!
      <span class="glyphicon glyphicon-ok-sign maybe"></span> If needed, I can make this time!
    </h4>
  <div class="row">
      <div class="column center">
            <a href="{% url 'submitted' %}">  <input type="submit" value="Submit"></a>
      </div>

  </div>
    <div class="center">
        Built using Python and Django. Deployed on Heroku.
    </div>


</div>
{% endblock %}
